<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleIdentifier</key><string>io.github.mrbrainz.sl3probe</string>
  <key>CFBundleName</key><string>SL3Probe</string>
  <key>CFBundleExecutable</key><string>SL3Probe</string>
  <key>CFBundlePackageType</key><string>BNDL</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>CFPlugInFactories</key><dict><key>2C5E6228-63BD-42BB-A079-E4B8EB181A8F</key><string>SL3Probe_Create</string></dict>
  <key>CFPlugInTypes</key><dict><key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key><array><string>2C5E6228-63BD-42BB-A079-E4B8EB181A8F</string></array></dict>
  <key>AudioServerPlugIn_IOKitUserClients</key><array>
    <string>AppleUSBHostFrameworkInterfaceClient</string>
    <string>AppleUSBHostFrameworkDeviceClient</string>
  </array>
</dict></plist>
